@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Blinker:wght@400;600&display=swap');

/* colors */
$color-background-nav: rgba(244, 240, 237, 0.75);
$color-background-features: rgba(238, 234, 231, 0.5);
$color-background-timeBox: #EEEAE7;
$color-background-timeBox2: #f3efeb;
$color-text-nav: #025D00;
$color-text-recipe: #3E3E3E;
$color-text-recipe2: #24252A;
$color-text-recipe-name: #725700;
$color-text-features: #B73535;
$color-fill-svg: #025D00;

$font-nav: 'Baskervville', serif;


$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

*{
    margin: 0;
    padding: 0;

}

html{
    box-sizing: border-box;

    @media only screen and (max-width: $bp-medium) {
        font-size: 80%;
      }
}

body{
    font-family: 'Blinker', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-text-recipe;
    min-height: 100%;
    // background-image: url(img/hero-background-img.png);
    // background-repeat: no-repeat;
    // background-size: auto;
    
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.1fr 4fr;
    grid-template-rows: 0.4fr 3fr 0.3fr;
    grid-template-areas: 
        "nav nav"
        "search main"
        "footer footer"
    ;
    // grid-gap: 0.2rem;
    text-align: center; 
    // background img
    background-image: url(../img/hero-background-img.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.62rem;
    background-color: $color-background-nav;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
//  .header::after{
//     content: none;
//     display: table;
//     clear: both;
// } 

.nav{
    // Menu categories
    margin: 0 auto;
    &__links{
        // padding: 0;
        display: flex;
        list-style: none;
        font-family: $font-nav;
        font-size: 1.3rem;
        line-height: 1.7rem;
        // text-align: center;
        &__link{
            cursor: pointer;
            display: inline-block;
            padding: 0 10px;
            // margin-right: 4.4rem;
            // padding-top: 1.4rem;
        }
    }
    &__item{
        color: $color-text-nav;
        text-decoration:none;
        text-transform: uppercase;
        backdrop-filter: blur(4px);
        font-weight: 550;
    }
    // Page logo
    &__logo{
        cursor: pointer;
        width: 237px;
        height: 54px;
        border: 2.06px solid #64A0A0;
        box-sizing: border-box;
        &__icon{
            width: 46px;
            height: 46px;
            margin: 0px 24px;
        }
        &__name{
            width: 117px;
            height: 37.5px;
        }
    }
    &__search{
        margin: 0 10px;
        padding: 9px;
        cursor: pointer;
    }
}

// Search bar
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 20px;
    width: 1px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 30px;
    transition: all .5s ease-in-out;
    background-color: $color-text-nav;
    padding-right: 40px;
    color:$color-text-nav;
  }
  .input-search::placeholder{
    color:$color-text-nav;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid $color-text-nav;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .fa-search{
      padding-bottom: 10px;
  }

// .searchBox{
//     width: fit-content;
//     height: fit-content;
//     position: relative;

//     & input{
//         height:25px;
//         width: 3px;
//         border-style: none;
//         padding: 10px;
//         font-size: 18px;
//         letter-spacing: 2px;
//         outline: none;
//         border-radius:25px;
//         transition: all 0.5s ease-in-out;
//         background-color:#22a6b3;
//         padding-right: 40px;
//         color: #ffff;

//         // &::placeholder{
//         //     color: rgba(255,255,255,5);
//         //     font-weight: 100;
//         // }
//         // &:focus{
//         //     width: 300px;
//         //     border-radius: 0;
//         //     background-color: transparent;
//         //     border-bottom: 1px solid rgba(255,255,255,0.5);
//         //     transition: all 500ms cubic-bezier(0, 0.110, 0.35,2);
//         // }
//     }
//     & input::placeholder{
//         color: rgba(255,255,255,5);
//         font-weight: 100;
//         color: transparent;
//     }
//     & input:focus{
//         width: 300px;
//         border-radius: 0;
//         background-color: transparent;
//         border-bottom: 1px solid rgba(255,255,255,0.5);
//         transition: all 500ms cubic-bezier(0, 0.110, 0.35,2);
//     }

//     & button{
//         width: 50px;
//         height: 50px;
//         border-style: none;
//         font-size: 20px;
//         font-weight: bold;
//         outline: none;
//         cursor: pointer;
//         border-radius: 50%;
//         position: absolute;
//         right: 0;
//         color: #ffff;
//         background-color: transparent;
//         pointer-events: painted;
//         // &:focus ~ .searchBox__input {
//         //     width: 300px;
//         //     border-radius:0px;
//         //     background-color: transparent;
//         //     border-bottom: 1px solid rgba(255,255,255,0.5);
//         //     transition: all 500ms cubic-bezier(0, 0.110, 0.35,2);
//         // }
//     }
//     & button:focus{
//         width: 300px;
//         border-radius:0px;
//         background-color: transparent;
//         border-bottom: 1px solid rgba(255,255,255,0.5);
//         transition: all 500ms cubic-bezier(0, 0.110, 0.35,2);
//     }
// }

// Search results line

.search{
    grid-area: search;
    margin: 20px 0 0 20px;
    background-color: $color-background-timeBox2;
    padding: 1rem 0.5rem;
    &__results{
        list-style: none;
    }
    &__preview{
        border-bottom: 1px dotted #bdb6b0;
        // margin-bottom: 0.8rem;
        &__link{
            text-decoration: none;
        }
        & a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0.2rem 0;

        }
        &__fig{
            display:contents;
            // position: relative;
            width: 6rem;
            height: 6rem;
            // overflow: hidden;
            // border-radius: 50%;
            & img{
                // width:auto;
                // height:100%;
                margin: 0 0.5rem;
                width: 4rem;
                height: 4rem;
                border-radius: 0.5rem;
            }
        }
        &__data{
            // text-decoration-line: none;
            // display: inline-block;
            // color: #3E3E3E;
            color: $color-text-recipe2;
        }
        &__title{
            text-align: left;
            // display: inline-block;
            font-size: 0.8rem;
            // text-decoration: none;
            color: black;
            font-weight: bold;
            letter-spacing: 0.03rem;
        }
        &__dishInfo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // overflow: hidden;
            & img{
                margin-right:0.1rem;
                width: 1rem;
                height: 1rem;
            }
            & p{
                // display: inline-block;
                // text-decoration: none;
                padding-right:0.2rem;
                font-size: 0.8rem;
            }
        }
    }
}


.main{
    grid-area: main;
    margin: 20px 20px 0 0;
    background-color: #fff;
    font-family: 'Blinker', sans-serif;

    display: grid;
    grid-template-columns:1.2fr 0.7fr 0.8fr;
    grid-template-rows: 4fr;
    grid-template-areas: 
        "content--1 content--2 content--3"
    ;
    grid-gap: 0.1rem;
    text-align: center;
}

.hidden{
    display: none;
    // visibility: hidden;
    // opacity: 0;
}
.section1{
    // margin: 0 auto;
    padding: 2rem 1rem;
    grid-area: content--1;
    &__title{
        color: $color-text-recipe-name;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
    }
    &__description{
        margin-top: 1rem;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.3rem;
        text-align: justify;
        padding: 0 0.5rem;
    }
    &__instruction{
        margin-top: 2rem;

        &__title{
            text-align: justify;
            font-weight: 600;
            margin-left: auto;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
        &__text{
            margin-top: 0.6rem;
            font-size: 0.8rem;
            text-align: justify;
            line-height: 1.7rem;
            
            overflow-wrap:break-word;
            hyphens: manual;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
        }
    }
    @media screen and (min-width: 1441px) {
        &__title{
            font-size: 2.5rem;
        }
        &__description{
            font-size: 1.4rem;
            line-height: 1.9rem;
        }
        &__instruction__title{
            font-size: 1.8rem;
            line-height: 1.7rem;
        }
        &__instruction__text{
            font-size: 1.3rem;
            line-height: 1.9rem;
        }
    }
}

.section2{
    grid-area: content--2;
    // margin:0 auto;
    padding: 2rem 0.5rem;
    &__recImg{
        margin: 0 auto;
        background-size: cover;
        display: block;
        border-radius: 5%;
        margin-bottom: 0.5rem;
        width: 20rem;
        height: 15rem;
        @media screen and (min-width: 1441px) {
            width: 20rem;
            height: 15rem;
        }
    }
    &__container{
        padding: 0;
        &__foodFeatures{
            padding: 0.2rem 0;
            margin-bottom: 0.5rem;
            background: $color-background-features;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            & img{
                width: 2.2em;
                height: 2.2rem;
                padding-top: 0.2rem;
                transition: all 0.4s ease-in-out;
            }
        }
    }
    &__wineRec{
        border-radius: 5px;
        background: $color-background-features;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.18rem;
        letter-spacing: 0.02rem;
        text-align: justify;
        padding: 0 1.25rem;
        color: $color-text-recipe2;
        &__title{
            text-align: center;
            font-size: 0.87rem;
            line-height: 1.25rem;
            text-transform: uppercase;
            color: $color-text-features;
        }
        &__offer{
            margin-top: 0.7rem;
            display:flex;
            justify-content: space-between;
            &__box{
                width: 13rem;
            }
            & img{
                // margin-left: 3rem;
                margin-bottom: 0.5rem;
                width: 3.1rem;
                height: 10rem;   
            }
        }
        & h4{
            text-align: center;
            font-size: 0.75rem;
            line-height: 1.06rem;
            text-decoration-line: underline;
            margin-bottom: 0.3rem;
        }
 
        & p::after{
            content: "\a";
            white-space: pre;
        }
        & span::before{
            content: "\a";
            white-space: pre;
        }
        @media screen and (min-width: 1441px) {
            padding: 0.2rem 1.5rem;
            font-size: 1rem;
            line-height: 1.2rem;
            & p{
                font-size: 0.8rem;
                line-height: 0.8rem;
            }
            & span{
                font-size: 0.8rem;
                line-height: 0.5rem;
            }
        }
    }

}

.section3{
    grid-area: content--3;
    padding: 2rem 1rem;
    &__timeBox{
        background: $color-background-timeBox;
        border-radius: 1px;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        &__box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 120px;
            border-bottom: 0.5px dotted #CAC7C4;
            width: 70%;
            & img{
                // margin-right: 0.3rem;
                width: 20px;
                height: 20px;
                padding: 0.6rem 0 0 2rem;                
            }
            & p{
                color: black;
                padding-top: 10px;
                margin: 0.2rem 0;
                width: 100px;
                & span{
                    padding-bottom: 0.3rem;
                    color: black;

                    }
            }

        }
    }
    &__ingredBox{
        margin-top: 1rem;
        border: 1px solid #616161;
        border-radius: 1px;
        color:#3E3E3E;
        padding-bottom: 1rem;
        &__title{
            border-bottom: 1px dashed #CAC7C4;
            & h3{
                font-weight: 800;
                font-size: 1.7rem;
                line-height: 1.87rem;
                margin: 1rem 0;
                color: #3E3E3E;
            }
        }
        &__portions{
            font-size: 0.93rem;
            font-weight: 600;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            background-color: #EEEAE7;
            border-radius: 1px;
            padding:4px 21px;
            margin: 0.8rem 0.9rem;
            padding: 0.2rem;
        }
        &__controller{
 
            & input{
                text-align: center;
                width: 30px;
                font-family: inherit;
                font-weight: 550;
                border: none;
            }
            // remove input arrows
            & input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button{
                -webkit-appearance: none;
                margin: 0;
            }
            & input[type=number]{
                -moz-appearance: textfield;
            }
            & button{
                border: none;
                margin: 0 0.3rem;
                & img{
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
        }
        &__ingreds{
            & ul{
                margin: 0;
                padding: 0;
                list-style: none;
                border-left: 1px dashed #CAC7C4;
                & li{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0 0.9rem;
                    border-bottom: 1px dashed #CAC7C4;
                    & p {
                        margin-left: 1rem;
                    }
                }
                & li svg{
                    overflow:visible;
                    height: 1rem;
                    width: 1rem;
                    border-right: 1px dashed #CAC7C4;
                }
                & li p {
                    text-align: justify;
                    font-family: inherit;
                    font-weight: 500;
                    overflow-wrap:break-word;
                    hyphens: manual;
                }
            }
            &--selected{
                fill: $color-fill-svg;
            }
        }
    }
}

.footer{
    background-color: #025D00;
    // padding: 0.55rem 0;
    position: fixed;
    padding: 10px 10px 0 10px;
    bottom: 0;
    width: 100%;
    height: 30px;
    & p{
        // padding: 0.5rem 0;
        font-size: 1rem;
        line-height: 1rem;
        color: #FFECC7;
    }
}

/* grid layouts */
#nav{
    grid-area: nav;
}

#searchBar{
    grid-area: searchBar;
}
#content--1{
    grid-area: content--1;
}
#content--2{
    grid-area: content--2;
}
#content--3{
    grid-area: content--3;
}

#footer{
    grid-area: footer;
}

@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 0.2fr;
        grid-template-areas: 
        "nav"
        "content--1"
        "content--2"
        "content--3"
        "footer"
        ;
    }
}
 /* html{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
} */

/* General elements */
/* .section{
    border-top: 1px solid #444;
    transition: transform 1s, opacity 1s;
    margin: 5rem 0;
    padding: 0 3rem;
} */


/* Navigation */
/* .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
}

.nav.sticky{
    position: fixed;
}

.nav__links{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__logo{
    height: 7rem;
    border-radius: 50%;
}
.nav__item{
    margin-left: 4rem;
} */

/* Header */
/* .header{
    padding: 0 3rem;
}  */










